{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Imagen de prueba</h1>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, accusantium ex nostrum voluptates sed ut quis, delectus, deleniti ipsa quae laudantium atque explicabo minus! Repellendus dolorem atque consequatur excepturi fugiat!
    </div>

    <div class="col-4">
        <img src="assets/img/torso.png" class="img-thumbnail">
    </div>

</div>

{{>footer }}